<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Shoubra Faculty of Engineering</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: rgb(49, 47, 47);
            color: #fff;
            text-align: center;
            padding: 1rem 0;
        }

        main {
            padding: 2rem;
        }

        h2 {
            color: #333;
        }

        li {
            margin-bottom: 0.5rem;
        }

        footer {
            background-color: #f8f9fa;
            text-align: center;
            padding: 1rem 0;
            color: #333;
        }
    </style>
</head>

<body>
    <header>
        <h1>Shoubra Faculty of Engineering</h1>
    </header>

    <main>
        <section id="about">
            <h2>About Us</h2>
            <p>Welcome to the About Us page of Shoubra Faculty of Engineering. Here you can learn more about our team members who have contributed to this project.</p>
            <h3>Supervisor</h3>
            <p style="font-size: 20px;">Assoc. Prof. Sahar Abdelrahman Ismail</p>
            <h3>Team Members</h3>
            <ul>

                <li>Rana Tarek Abd El Halim</li>
                <li>Hatem Ashraf Abu Hassiba</li>
                <li>Sayed Ibrahim Sayed</li>
                <li>Menna Allah Mohamed</li>
                <li>Abanoub Shafeeq Zakhier</li>
                <li>Abanoub Amir Youssef</li>
                <li>Bassant Ehab Saber</li>
                <li>Amna Ali Abd El Wahab</li>
                <li>Mario Mafdi Habib</li>
            </ul>

        </section>
    </main>

    <footer>
        <p>&copy; 2023 Shoubra Faculty of Engineering</p>
    </footer>
</body>

</html>

<script>
    const searchForm = document.getElementById('searchForm');
    if (searchForm) {
      searchForm.style.display = 'none';
    }
  </script>